<div id="<%= dom_id habit %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= habit.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= habit.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reminders:</strong>
    <%= habit.reminders %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this habit", habit, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this habit', edit_habit_path(habit), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
